:root {
  --color-primary: #0A2A43;   /* Azul marino */
  --color-secondary: #8C6239; /* Marrón capibara */
  --color-accent: #D4A017;    /* Dorado */
  --color-light: #EADFC8;     /* Beige claro */
  --color-white: #FFFFFF;
  --color-danger: #B22222;    /* Rojo para eliminar */
}
