@import "./variables.scss";
@import "./buttons.scss";
@import "./inputs.scss";

/* Body base */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-light);
  color: var(--color-primary);
}

/* Modales globales */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(10,42,67,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
